# compiled output
dist
node_modules
.solid

# IDE - IntelliJ
.idea

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS
.DS_Store

server-backend/dev/40swap.lightning.yml
liquidity-manager-backend/dev/liquidity-manager.lightning.yml

daemon/cmd/cmd
40swap.lightning.yml
40swap.elements.yml
.data/
daemon/tmp
build-errors.log
daemon/tls.cert
daemon/admin.macaroon
daemon/40swapd

# ACT
act.vars